*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
body{
    overflow-x: hidden;
    color: #4070f4;
    background-color: white;
}
#nav-bar{
    display: flex;
    justify-content: space-between !important;
    align-items: center !important;
    /* padding-bottom: 4px; */
    flex-wrap: wrap;
    height: 60px;
    color: white;
    background-color: #4070f4;
    padding-left: 10px;
    padding-right: 10px;
}
#navbar h1{
    font-size: 20px !important;
}

#logoutBtn{
    width: 100px;
    height: 40px;
    background-color: white;
    border: none;
    color: #4070f4;
}


@media screen and (min-width:0px) and (max-width: 450px) {
    #nav-bar{
        height: 120px;
        width: 100% !important;
    }
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 100px;
}
.container{
    /* min-width: 1000px; */
    background-color: #4070f4 !important;
    /* min-height: 50vh; */
    padding-bottom: 80px !important;
    padding-top: 40px;
}
.input-btn{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.input-btn input{
    width: 70%;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 10px;
    font-size: 20px;
    font-weight: bold;
}
.input-btn input::placeholder{
    font-size: 20px;
    font-weight: bold !important;
}
.input-btn button{
    width: 150px;
    height: 50px;
    border: none;
    background-color: blueviolet;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor:  pointer !important;
}
.ul-list{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 30px !important;
    width: 100%;
    position: relative;

}
.spinner-div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
#list{
    color: white;
    font-size: 25px;
    /* white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important; */
    width: 90%;
}
.li{
    padding-top: 10px;
    margin-top: 20px;
    /* border: 1px solid white;  */
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}
li{
    list-style-type: none;
}
.icons1{
    position: absolute;
    right: 0px;
    display: none;
    cursor: pointer;
}
.icons2{
    position: absolute;
    right: 70px;
    display: none;
    cursor: pointer;
}
.inp{
    width: 70%;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 10px;
    font-size: 20px;
    font-weight: bold;
}
.inp::placeholder{
    font-size: 20px;
    font-weight: bold !important;
}
.btn{
    width: 150px;
    height: 50px;
    border: none;
    background-color: blueviolet !important;
    color: white !important;
    font-size: 20px;
    font-weight: bold;
    cursor:  pointer !important;
}
/* From Uiverse.io by PriyanshuGupta28 */ 
.spinner {
    position: absolute;
    width: 9px;
    height: 9px;
  }
  .s{
    display: block;
  }
  .s-none{
    display: none;
  }
  .spinner div {
    position: absolute;
    width: 50%;
    height: 150%;
    background: white;
    transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
    animation: spinner-fzua35 1s calc(var(--delay) * 1s) infinite ease;
  }
  
  .spinner div:nth-child(1) {
    --delay: 0.1;
    --rotation: 36;
    --translation: 150;
  }
  
  .spinner div:nth-child(2) {
    --delay: 0.2;
    --rotation: 72;
    --translation: 150;
  }
  
  .spinner div:nth-child(3) {
    --delay: 0.3;
    --rotation: 108;
    --translation: 150;
  }
  
  .spinner div:nth-child(4) {
    --delay: 0.4;
    --rotation: 144;
    --translation: 150;
  }
  
  .spinner div:nth-child(5) {
    --delay: 0.5;
    --rotation: 180;
    --translation: 150;
  }
  
  .spinner div:nth-child(6) {
    --delay: 0.6;
    --rotation: 216;
    --translation: 150;
  }
  
  .spinner div:nth-child(7) {
    --delay: 0.7;
    --rotation: 252;
    --translation: 150;
  }
  
  .spinner div:nth-child(8) {
    --delay: 0.8;
    --rotation: 288;
    --translation: 150;
  }
  
  .spinner div:nth-child(9) {
    --delay: 0.9;
    --rotation: 324;
    --translation: 150;
  }
  
  .spinner div:nth-child(10) {
    --delay: 1;
    --rotation: 360;
    --translation: 150;
  }
  
  @keyframes spinner-fzua35 {
    0%, 10%, 20%, 30%, 50%, 60%, 70%, 80%, 90%, 100% {
      transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
    }
  
    50% {
      transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1.5%));
    }
  }